<div class="bg-primary">
    <div class="container d-flex justify-content-between align-items-center py-4">
        <%= link_to products_path do %>
            <h1 class="text-light">Vendelo</h1>
        <% end %>

        <%= link_to 'Añadir producto', new_product_path, class: "btn btn-light h-25 align-text-middle" %>
    </div>
</div>